{% include 'base2.html' %}

{% block content %}
<style>
 .text1{
    font-family:Microsoft JhengHei;
 }

 .text2{
    font-family:Microsoft JhengHei;
 }

</style>
<center>
</br></br>
<h2 class="text1">您的專屬優惠資訊如下</h2>
</br></br>

<div class="card" style="width: 26rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" class="text2">博客來：當月新書享9折</li>
      <li class="list-group-item" class="text2">金石堂：優惠碼a3bts6487享9折</li>
      <li class="list-group-item" class="text2">三民：無</li>
    </ul>
    <div class="list-group-item" class="text2">
      誠品：當月消費差188元可贈當月贈品
    </div>
  </div>

</center>






  
{% endblock %}