{% include 'base2.html' %}

{% block content %}
<style>

.two{
    position: absolute;
    top: 97px;
    right:550;

}

.three{
    position: absolute;
    top: 97px;
    right:60;
 

}

.car{
    width:35px;
    height:24px;
}
</style>

<h3>關於Java...</h3>
<div>
<div class="card" style="width:18rem;  height:25rem;">
    <img src="{{url_for('static',filename='img/java1.png')}}" class="card-img-top" height="200px" >
    <div class="card-body">
      <h4 class="card-title">	
            Java最強入門邁向頂尖高手之路：王者歸來(第二版)全彩版</h4>
      <p class="card-text">博客來 / NT 790</p>
      <a href="https://www.books.com.tw/products/0010873110?sloc=main" class="btn btn-outline-secondary">Go To See </a>
      <button type="button" class="btn btn-outline-secondary"><img src="{{url_for('static',filename='img/car2.png')}}" class="car"></button>
    </div>
  </div>
  <br/>  <br/>  

  <div class="card" style="width:18rem;  height:25rem;"  >
    <img src="{{url_for('static',filename='img/java5.png')}}" class="card-img-top" height="200px">
    <div class="card-body">
        <h4 class="card-title">Java效能優化指南</h4>
        <p class="card-text">誠品 / NT 612</p>
        <a href="#" class="btn btn-outline-secondary">Go To See</a>
        <button type="button" class="btn btn-outline-secondary"><img src="{{url_for('static',filename='img/car2.png')}}" class="car"></button>
    </div>
  </div>
  <br/>  <br/>  

  <div class="card" style="width:18rem;  height:25rem;">
    <img src="{{url_for('static',filename='img/java2.png')}}" class="card-img-top" height="200px">
    <div class="card-body">
        <h4 class="card-title">Java SE 14 技術手冊</h4>
        <p class="card-text">博客來 / NT 537</p>
        <a href="https://www.books.com.tw/products/0010860653?sloc=main" class="btn btn-outline-secondary">Go To See</a>
        <button type="button" class="btn btn-outline-secondary"><img src="{{url_for('static',filename='img/car2.png')}}" class="car"></button>
    </div>
  </div>
  <br/>  <br/> 
</div>

<div class="two">
    <div class="card" style="width:18rem;  height:25rem;">
        <img src="{{url_for('static',filename='img/java3.png')}}" class="card-img-top" height="200px">
        <div class="card-body">
            <h4 class="card-title">最新 Java 程式設計(第六版)</h4>
            <p class="card-text">博客來 / NT 537</p>
            <a href="https://www.books.com.tw/products/0010824846?sloc=main" class="btn btn-outline-secondary">Go To See</a>
            <button type="button" class="btn btn-outline-secondary"><img src="{{url_for('static',filename='img/car2.png')}}" class="car"></button>
        </div>
    </div>
        <br/>  <br/>  

        <div class="card" style="width:18rem;  height:25rem;">
            <img src="{{url_for('static',filename='img/java4.png')}}" class="card-img-top" height="200px">
            <div class="card-body">
                <h4 class="card-title">Java SE 12基礎必修課</h4>
                <p class="card-text" >誠品 / NT 486 </p>
                <a href="#" class="btn btn-outline-secondary">Go To See</a>
                <button type="button" class="btn btn-outline-secondary"><img src="{{url_for('static',filename='img/car2.png')}}" class="car"></button>
            </div>
        </div>
            <br/>  <br/>  

            <div class="card" style="width:18rem;  height:25rem;">
                <img src="{{url_for('static',filename='img/java6.png')}}" class="card-img-top" height="200px">
                <div class="card-body">
                    <h4 class="card-title">Java網路程式設計 (第4版)</h4>
                    <p class="card-text">誠品 / NT 612</p>
                    <a href="#" class="btn btn-outline-secondary">Go To See</a>
                    <button type="button" class="btn btn-outline-secondary"><img src="{{url_for('static',filename='img/car2.png')}}" class="car"></button>
                </div>
            </div>

</div>

<div class="three">
    <div class="card" style="width:18rem;  height:25rem;">
        <img src="{{url_for('static',filename='img/java9.png')}}" class="card-img-top" height="200px">
        <div class="card-body">
            <h4 class="card-title">	
                    掌握Java SE11程式設計</h4>
            <p class="card-text">博客來 / NT 545</p>
            <a href="#" class="btn btn-outline-secondary">Go To See</a>
            <button type="button" class="btn btn-outline-secondary"><img src="{{url_for('static',filename='img/car2.png')}}" class="car"></button>
        </div>
    </div>
        <br/>  <br/>  

        <div class="card" style="width:18rem;  height:25rem;">
            <img src="{{url_for('static',filename='img/java8.png')}}" class="card-img-top" height="200px">
            <div class="card-body">
                <h4 class="card-title">深入淺出 Java 程式設計 第二版</h4>
                <p class="card-text">博客來 / NT 695</p>
                <a href="https://www.books.com.tw/products/0010311883?sloc=main" class="btn btn-outline-secondary">Go To See</a>
                <button type="button" class="btn btn-outline-secondary"><img src="{{url_for('static',filename='img/car2.png')}}" class="car"></button>
            </div>
        </div>
            <br/>  <br/>  

            <div class="card" style="width:18rem;  height:25rem;">
                <img src="{{url_for('static',filename='img/java7.png')}}" class="card-img-top" height="200px">
                <div class="card-body">
                    <h4 class="card-title">Java 8教學手冊</h4>
                    <p class="card-text">誠品 / NT 522</p>
                    <a href="#" class="btn btn-outline-secondary">Go To See</a>
                    <button type="button" class="btn btn-outline-secondary"><img src="{{url_for('static',filename='img/car2.png')}}" class="car"></button>
                </div>
            </div>

</div>
  
{% endblock %}